@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb{
    background-color: rgb(17, 86, 143);
    border-radius: 20px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar{
    height: 8px;
    width:8px;
}

.gradient-text {
    background: linear-gradient(to right, #48bb78, #4299e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .landing {
    position: relative;
  }
  
  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(3, 37, 65, 0.8) 0%, rgba(3, 37, 65, 0) 100%);
  }
  