@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb{
    background-color: rgb(17, 86, 143);
    border-radius: 20px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar{
    height: 8px;
    width:8px;
}

.gradient-text {
    background: linear-gradient(to right, #48bb78, #4299e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .stripes{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
  }
  